-if @household_notes.any?
  %h1 Previously Sent Notes

  -@household_notes.each do |note|
    .note
      .sent= "Sent on #{note.created_at} by #{note.sender.login}"
      .to= "To: #{note.to}"
      .subject= "Subject: #{note.subject}"
      .from= "From: #{note.from}"
    
      .message
        Message:
        %pre
          = ''
          = word_wrap(note.message)
          .container= image_tag(note.image_filename)

%h1 Send a Note

=semantic_form_for @note do |f|
  = errors_for(@note)

  #to=f.text_field :to
  #subject=f.text_field :subject
  #from=f.text_field :from
  #message=f.text_area :message
  #Image=f.text_field :image_filename
  .tip Holiday card image will be included at the bottom of the message.
  
  =f.hidden_field :household_id
  =f.hidden_field :batch_id
  
  %p
    = f.submit "Send email"
    .back= link_to 'Cancel and go back', people_path
  
  