%h1 Add person

= semantic_form_for(@person, :html => {:class => 'person_form'}) do |f|
  = errors_for(@person)

  = f.inputs do
    = f.input :first_name
    = f.input :last_name
    = f.input :email
  
    =f.hidden_field :household_id

  = f.buttons do
    = f.commit_button

.back= link_to 'Cancel and go back', people_path
