#first_name
  First Name:
  = @person.first_name
#last_name
  Last Name:
  = @person.last_name
#email
  Email:
  = @person.email

.actions
  = link_to 'Edit', edit_person_path(@person)
  |
  = link_to 'Back', people_path
