%h1 Add batch

= semantic_form_for(@batch, :html => {:class => 'batch_form'}) do |f|
  = errors_for(@batch)

  = f.inputs do
    = f.input :name
    = f.input :from
    = f.input :subject
    = f.input :image_filename
    = f.input :message, :label => 'Message template'

  = f.actions do
    = f.action(:submit)

.back= link_to 'Cancel and go back', batches_path
