<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title><%= @page_title || APP_CONFIG[:site_name] %></title>
    <meta http-equiv="content-type" content="text/xhtml; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="distribution" content="all" />
    <meta name="robots" content="all" />  
    <meta name="resource-type" content="document" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" charset="utf-8">
      FACEBOOK_APP_ID = <%= FACEBOOK[:app_id].to_json.html_safe %>;
    </script>
    <%= yield :javascript %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <% unless @suppress_signup_login_links %>
          <ul>
            <% if current_user? %>
              <li>
                Active batch: <%= Batch.active_batch.name %> [<%= link_to 'Change', batches_path %>]
              </li>
              <li>
                <%= link_to 'Logout', '#', :class => 'logout-button' %>
              </li>
              <li>
                <%= facebook_profile_image_tag(current_user.fb_uid, '25x25') %>
                <%= current_user.first_name %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Login', '#', :class => "login-button" %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div id="content">
        <%= flash_messages %>
        <%= yield :layout %>
      </div>
      <div id="footer">
        Background adapted from image by <%= link_to "Sarah Parrott", "http://www.flickr.com/photos/thingsarebetterwithaparrott/1434120935/" %>.
      </div>
    </div>
  </body>
</html>