%h1 Editing household

= semantic_form_for(@household) do |f|
  = errors_for(@household)

  = f.inputs do
    = f.input :description
    = f.input :greeting

  = f.actions do
    = f.action(:submit)

= link_to 'Back', people_path
