%h1 Editing household

= semantic_form_for(@household) do |f|
  = errors_for(@household)
  
  = f.inputs do
    = f.input :description
    = f.input :greeting

  = f.buttons do
    = f.commit_button
  
= link_to 'Back', people_path
