%h1 Editing household

- form_for(@household) do |f|
  = f.error_messages

  #description= f.text_field :description
  #greeting= f.text_field :greeting
  
  %p= f.submit "Update"
  
= link_to 'Back', people_path
